node_modules/
.vscode/
.env
.DS_Store
/.idea/
npm-debug.log

# Firebase
firebase-debug.log
firestore-debug.log
.firebase/
serviceAccountKey.json
config/serviceAccountKey.json

# Build outputs
dist/
build/